
{% extends 'base.html' %} 

{% block content %}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card" style="    ">
      <div class="card-body">
        <h4 class="card-title">Subject creation</h4>
     
        <form class="forms-sample" action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputUsername1">Subject Name</label>
            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Name" required name="name">
          </div>
       
        
         
          <div class="form-check form-check-flat form-check-primary">
           
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}