<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    

    <form >

        <input type="checkbox" class="n1" value="A" name="ch">
        <input type="checkbox" class="n1" value="B" name="ch">
        <input type="checkbox" class="n1" value="C" name="ch">
       
        <select name="choices" id="demo111">
            <option value="choice1">Choice 1</option>
            <option value="choice2">Choice 2</option>
            <option value="choice3">Choice 3</option>
          </select>
        <input type="button" id="submit1" value="ADD">
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>


        $("#submit1").click(function(){
            alert("helloooo")

            var checkboxes = document.getElementsByClassName('n1');
var values = [];
for (var i = 0; i < checkboxes.length; i++) {
  var checkbox = checkboxes[i];
  if (checkbox.checked) {
    values.push(checkbox.value);
  }
}
 


var jsonData = [];

// Add the first JSON object
var data1 = { 'name': 'John', 'age': [1,25,5] };
jsonData.push(data1);

// Add the second JSON object
var data2 = { 'name': 'Jane', 'age': 30 };
jsonData.push(data2);

// Add the third JSON object
var data3 = { 'name': 'Bob', 'age': 40 };
jsonData.push(data3);

// Convert the array of JSON objects to a JSON string
var jsonString = JSON.stringify(jsonData);
   



$.ajax({
  type: "POST",
  url: "demo_action",
  data: jsonString,
  contentType: "application/json; charset=utf-8",
  dataType: "json",
  success: function(data) {
    // handle success response
  },
  error: function(xhr, status, error) {
    // handle error response
  }
});




        })

        </script>

</body>
</html>