
<style>
    .uploadFile1 .inputfile::-webkit-file-upload-button {
    display: none;
}
 </style>

<div class="modal fade bd-example-modal-lg-{{value1}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <input type="hidden" value="{{modal_id}}" class="add_line_count{{value1}}">
        <input type="hidden" value="{{value1}}" name="question_model_name{{data_id}}">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Question Management</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <div class="row">
            <div class="col-md-6">
                <input type="text" required class="form-control modal_question{{value1}}" placeholder="question" name="question_name{{data_id}}">

                <a href="#" class="" data-toggle="modal" data-target="#language_modal-{{value1}}" data-whatever="@mdo" style="    color: #ff1717;
                padding: 7px 6px;"><i class="fa fa-exchange" aria-hidden="true"></i></a>
            </div>
            
            <div class="col-md-2 input-group uploadFile1">
                <input type="file" name="question_image{{value1}}" class="inputfile form-control">
            </div>
            <div class="col-md-6 mt-4">
                <div class="row">
                    <div class="col-md-2">
                        <p style="    margin: 0 5px 0 0;
                        color: #091124;
                        font-size: 12px;
                        line-height: 1.5;
                        font-weight: 600;">Question Type</p>
                    </div>
                    <div class="col-md-10">
                        <input type="radio" checked  class="question_type_radio{{value1}}" name="question_type{{value1}}" value="Radio"> <span style="font-size: 12px;">Multiple choice: only one answer</span>
                        <br>
                        <input type="radio"  class="question_type_checkbox{{value1}}" name="question_type{{value1}}" value="Checkbox"> <span style="font-size: 12px;">Multiple choice: multiple answers allowed</span>

                        <div style="display:none;color:red;" class="alertshow">*please select question type</div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <ul class="nav nav-tabs">
                   
                    <li  data-active="#answer{{value1}}"><a data-toggle="tab" href="#answer{{value1}}" style="    padding: 7px 12px;
                        color: white;
                        background: #181824;margin-left: 3px;text-decoration: none;">Answers</a></li>
                    <li  data-active="#Description{{value1}}"><a data-toggle="tab" href="#Description{{value1}}" style="    padding: 7px 12px;
                        color: white;
                        background: #181824;margin-left: 3px;text-decoration: none;">Description</a></li>
                        <li  data-active="#question_option{{value1}}"><a data-toggle="tab" href="#question_option{{value1}}" style="    padding: 7px 12px;
                            color: white;
                            background: #181824;margin-left: 3px;text-decoration: none;">Options</a></li>
  
  
                   
                  </ul>
                  
                  <div class="tab-content mt-4">
                  <div id="answer{{value1}}" class="tab-pane fade active show card" style="border-style: solid;
                  border-color: #7a7a79;
                  padding: 12px 12px;
                  border: 1px solid #0000002e;">
                  
  
                 <div class="row">
                    <div class="col-md-2">
                        <p style="font-size: 12px;">Answers</p>
                    </div>
                    <div class="col-md-8 card ">
                        <br>
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Choices</th>
                                <th scope="col">File</th>
                                <th scope="col">Is a correct answer</th>
                                <th scope="col">Score for this choice</th>
                               
                              </tr>
                            </thead>
                            <tbody id="choice_add{{value1}}">
                             

                            </tbody>
                              </table>
                              <a class="mt-2" href="#" style="padding: 3px 3px;
                              font-size: 12px;
                              background: #0c0c12;
                              width: 10%;
                              color: white;text-decoration: none;" onclick="choice_add_fun(`{{value1}}`)">Add a line</a>
                              <br>
                              
                    </div>
                 </div>
  
                          
                  </div>
  
                  
                  <div id="Description{{value1}}" class="tab-pane fade " style="border-style: solid;
                  border-color: #7a7a79;
                
                  border: 1px solid #0000002e;"><textarea class="form-control" name="qstn_descriptn{{data_id}}" placeholder="Description..."></textarea>
                  
  
  
                          
                  </div>
                   
                  <div id="question_option{{value1}}" class="tab-pane fade ">
                  
  
                  <div class="row mt-4 card" style="border-style: solid;
                  border-color: #7a7a79;
                  padding: 24px 12px;
                  border: 1px solid #0000002e;">
  
                <div class="col-md-6">
                
                <div class="row">
                    <div class="col-md-3 ">
                        <p style="    font-size: 13px;
                            color: black;
                font-weight: 600;">Mandatory Answer</p>
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" value="True" name="question_mandatory{{value1}}">
                        </div>
                        <div class="col-md-12">
                
                        </div>
                <div class="col-md-3 ">
                        <p style="    font-size: 13px;
                            color: black;
                font-weight: 600;">FIle Field</p>
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" name="choice_image_check{{data_id}}" value="True">
                        </div>
                
                        <div class="col-md-12"></div>
                        <div class="col-md-3 ">
                        <p style="    font-size: 13px;
                            color: black;
                font-weight: 600;">Comments</p>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="question_comment{{data_id}}" class="form-control">
                        </div>
                        
                </div>
                </div>
                </div>    
                </div>
                </div>
                  
            </div>
           </div>
          </div>
  
          <input type="hidden" name="" class="modal_status{{value1}}" value="{{status}}" >
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary section_btn remove_onclick{{value1}}" onclick="modal_question_action(`{{value1}}`,`{{data_id}}`)" style="background: black;
            border: none;">Save </button>
              <button type="button" class="btn btn-primary section_btn remove_onclick1{{value1}}"  style="background: black;
              border: none;display: none;" data-dismiss="modal">Save </button>
      </div>
    </div>

    
  </div>


 


<div class="modal fade" id="language_modal-{{value1}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Language</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label ">English:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group langAR" style="display: none;">
            <label for="recipient-name" class="col-form-label ">Arabic:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group langHindi" style="display: none;">
            <label for="recipient-name" class="col-form-label">Hindi:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group langUrdu" style="display: none;">
            <label for="recipient-name" class="col-form-label">Urdu:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group langTamil" style="display: none;">
            <label for="recipient-name" class="col-form-label">Tamil:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
  
  <script>
  
  function choice_add_fun(val1){


var add_line_count = $(".add_line_count"+val1).val();

  $("#choice_add"+val1).append(`<tr>
      
      <td>
        <input style="border: 1px solid #e8ecf1;
        font-size: 0.8125rem;" type="text" class="form-control" name="question_choice`+add_line_count+``+'-'+`{{value1}}">
        <input type="hidden" value=`+add_line_count+` name="question_line_count{{value1}}">
        <td>
        
        <div class="uploadFile1">
        <input type="file" class="form-control inputfile" name="question_image_choice`+add_line_count+``+'-'+`{{value1}}" value="" >
        </td>
        </div>
        
        </td>
            <td>
                <div style="margin-left:47px;" class="input-group date">
                    <input   type="checkbox"  name="addline_check`+add_line_count+``+'-'+`{{value1}}" value="True">
                    </div></td>
            <td>
                
                <input style="border: 1px solid #e8ecf1; 
        font-size: 0.8125rem;" name="Score`+add_line_count+``+'-'+`{{value1}}" value="0" class="form-control" type="number" ></td>
        </tr>`)
 
      let total1 = parseInt(add_line_count) + 1
      $(".add_line_count"+val1).val(total1);

}






  
    function modal_question_action(val1,val2){

   
       var question =  $(".modal_question"+val1).val();
        var modal_status = $(".modal_status"+val1).val();

      if ($(".question_type_radio"+val1).is(":checked")){
            question_type = "Multiple choice: only one answer"
         }
         else if($(".question_type_checkbox"+val1).is(":checked")){
            question_type = "Multiple choice: multiple answers allowed"
         }
         else{

            $(".alertshow").show()
         }
      
  
      if(modal_status == "direct_question"){
        if(question == ''){
          
        }
        else{
  
          $("#append_table").append(`
            <tr class="tr_remove`+i+`">
                <td class="sr-only"></td>
                <td> <a href="#"  style="text-decoration: none;
                color: black;
                font-size: 12px;" data-toggle="modal" data-target=".bd-example-modal-lg-{{value1}}">
                `+question+`
                </a></td>

                <td>
                `+question_type+`
                <input type="hidden" value=`+i+` id="section_id`+i+`">
                <input type="hidden" name='section_line_count' value=`+i+`>
                <input type="hidden" name="modal_status" value =`+modal_status+`>
                <input type="hidden" value="`+question+`" name='section_line'>
                </td>
                <td>
                            
                <i data-modal-id ="{{value1}}" data-tr = "`+i+`"  class="fa fa-remove  question_remove" style="font-size: 12px; cursor:pointer;
                color: red;"></i>
                </td>
            </tr>
                    
        `)
  
        i = i + 1
        $('.bd-example-modal-lg-'+val1).modal('hide');
    
        $('.remove_onclick'+val1).hide()
        $('.remove_onclick1'+val1).show()
  
        }
      }
  
      else{
  
        if(question == '')
        {
  
        }
        else{
   
       $("#apppend_child"+val2).append(`
        <tr class="tr_remove{{value1}}" style="    font-weight: 500;">
        <td style="    font-weight: 500;"> 
        <a href="#"  style="    text-decoration: none;
          color: black;
          font-size: 12px;" data-toggle="modal" data-target=".bd-example-modal-lg-{{value1}}">
          `+question+`
        </a>
                           
        </td>
        <td style="font-weight: 500;">`+question_type+`</td>
        <td style="font-weight: 500;">
          <i data-modal-id ="{{value1}}" data-tr = "{{value1}}"  class="fa fa-remove  question_remove" style="font-size: 12px; cursor:pointer;
        color: red;"></i></td>
  
        </tr>
      
       
       `)
  
       $('.bd-example-modal-lg-'+val1).modal('hide');
    
       $('.remove_onclick'+val1).hide()
       $('.remove_onclick1'+val1).show()
  }
  }
    }



    $(".question_remove").click(function(){

      var modal_id = $(this).attr("data-modal-id")
      $('.bd-example-modal-lg-'+modal_id).html("");

      var tr_id = $(this).attr("data-tr")
      $('.tr_remove'+tr_id).hide()
      
   

    })


  </script>

  <script>
              var checks = $('.lang_class:checked').map(function() {
           
   var data =  $(this).val()

   $(".lang"+data).show()
  }).get()
  </script>
  
